{% extends 'base.html.twig' %}

{% block meta_title 'error.not_found.title'|trans ~ ' - ' ~ parent() %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ 'error.not_found.title'|trans }}</h1>

    <p>{{ 'error.not_found.message'|trans }}</p>
{% endblock %}
