{% extends 'base.html.twig' %}

{% block meta_title "Page non trouvée" ~ ' - ' ~ parent() %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Page non trouvée</h1>

    <p>La page que vous cherchez n'existe pas ou plus.</p>
{% endblock %}
