////////////////////
//// Background ////
////////////////////

@use '../vendors/bootstrap/bootstrap' as *;

.bg-visual {
    position: absolute;
    z-index: -1;

    &--top {
        right: 0;
        width: 20%;
    }

    &--left-1 {
        padding-right: var(--spacer-5);
        top: 25vw;
        width: var(--container-margin);
    }

    &--right-1 {
        right: 0;
        top: 40vw;
        width: 40%;
    }

    &--active-menu {
        display: none;
        top: 0;
        transition: all 0.25s;
        width: 31rem;

        @include media-breakpoint-down(xxl) {
            top: -13rem;
        }

        &-1 {
            --link-spacing: 29rem;

            right: calc(var(--container-margin) + var(--link-spacing));

            @include media-breakpoint-down(xxl) {
                --link-spacing: 21rem;
            }
        }

        &-2 {
            --link-spacing: 19rem;

            right: calc(var(--container-margin) + var(--link-spacing));

            @include media-breakpoint-down(xxl) {
                --link-spacing: 11.5rem;
            }
        }

        &-3 {
            --link-spacing: 9rem;

            right: calc(var(--container-margin) + var(--link-spacing));

            @include media-breakpoint-down(xxl) {
                --link-spacing: 1rem;
            }
        }

        &-4 {
            --link-spacing: 3rem;

            right: calc(var(--container-margin) - var(--link-spacing));

            @include media-breakpoint-down(xxl) {
                --link-spacing: 11rem;
            }
        }

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
}
