////////////////////
//// Navigation ////
////////////////////

@use '../vendors/bootstrap/bootstrap' as *;
@use '../base/mixins' as mixins;

.navbar-brand {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 50vw;
    padding: 0;
    transition: all 0.25s;
    z-index: 1;

    &__logo {
        transition: all 0.25s;

        &--dark {
            display: none;
        }
    }
}

[data-bs-theme='dark'] {
    .navbar-brand__logo--light {
        display: none;
    }

    .navbar-brand__logo--dark {
        display: block;
    }
}

.navbar-content-wrapper {
    align-items: center;
    display: flex !important;
    flex-basis: auto;
    flex-grow: 1;
    height: 100%;
    justify-content: end;
    padding-bottom: 0;
    position: relative;

    @include media-breakpoint-down(lg) {
        align-items: start;
        border-top: 1px solid var(--color-gray-900);
        justify-content: start;
    }

    @include media-breakpoint-down(md) {
        flex-direction: column;
        width: 100%;
    }

    @include media-breakpoint-only(md) {
        align-items: center;
        height: var(--spacer-6);
    }
}

.nav-link {
    color: var(--color-white);
    font-size: 1.1em;
    text-decoration: none;
    white-space: nowrap;

    &:not(.active) {
        margin-left: var(--spacer-3);

        &:hover,
        &:active,
        &:focus {
            color: var(--color-primary);
        }
    }
}

.navbar-nav {
    &--main {
        gap: var(--spacer-4);

        .nav-item {
            height: 100%;
        }

        .nav-link {
            align-items: center;
            display: flex;
            height: 100%;
            transition: all 0.25s;
        }

        @include media-breakpoint-up(lg) {
            gap: var(--spacer-7);
            height: 100%;
        }

        @include media-breakpoint-down(lg) {
            .nav-link.active::before {
                @include mixins.icon-triangle(
                    $size: var(--spacer-2),
                    $position: 0.4rem 0 0,
                );

                content: '';
                display: block;
            }
        }

        @include media-breakpoint-only(md) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include media-breakpoint-down(md) {
            border-bottom: 1px solid var(--color-gray-900);
            flex-direction: column;
            padding-bottom: var(--spacer-3);
            padding-top: var(--spacer-3);
            margin-bottom: var(--spacer-3);
            width: 100%;
        }
    }
}

.navbar-toggler {
    border: 0;
    position: relative;
    width: var(--spacer-5);

    i {
        color: var(--color-primary);
    }

    &:hover,
    &:active,
    &:focus {
        box-shadow: none;

        i {
            color: var(--color-white);
        }
    }

    &:focus-visible {
        outline: 0;
    }

    .fa-xmark,
    .fa-bars-staggered {
        left: 50%;
        position: absolute;
        top: 50%;
        transition: all 0.15s;
    }

    &[aria-expanded="false"] {
        .fa-xmark {
            transform: translate(-50%, -50%) scale(0);
        }

        .fa-bars-staggered {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    &[aria-expanded="true"] {
        .fa-xmark {
            transform: translate(-50%, -50%) scale(1);
        }

        .fa-bars-staggered {
            transform: translate(-50%, -50%) scale(0);
        }
    }
}

.navbar-theme-dropdown {
    .nav-link {
        align-items: center;
        background-color: var(--color-gray-900);
        border: 0;
        border-radius: var(--bs-border-radius-pill);
        font-size: var(--font-size-sm);
        display: flex;
        min-width: 2.5rem;
    }

    @include media-breakpoint-down(md) {
        padding-bottom: var(--spacer-3);
    }

    @include media-breakpoint-up(lg) {
        align-items: center;
        display: flex;
        height: 100%;
        padding-left: var(--spacer-5);

        .dropdown-menu {
            padding: 0;
            top: calc(100% - 1rem);

            li {
                overflow: hidden;

                &:first-child {
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                }

                &:last-child {
                    border-bottom-left-radius: 0.25rem;
                    border-bottom-right-radius: 0.25rem;
                }
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        position: absolute;
        right: calc(-1 * var(--container-viewport-gap) + var(--spacer-3));
    }
}
