{% set pageTitle = pageTitle|default("Articles") %}

{% extends 'base.html.twig' %}

{% from 'articles/_macros.html.twig' import list %}

{% block meta_title pageTitle ~ ' - ' ~ parent() %}

{% block content %}
    <h1>{{ pageTitle }}</h1>

    <main class="articles">
        {{ list(articles) }}
    </main>
{% endblock %}
