{% set pageTitle = pageTitle|default('article.list.title'|trans) %}

{% extends 'base.html.twig' %}

{% from 'articles/_macros.html.twig' import list %}

{% block meta_title pageTitle ~ ' - ' ~ parent() %}

{% block content %}
    <h1>{{ pageTitle }}</h1>

    {% block before_content %}{% endblock before_content %}

    <main class="articles">
        {{ list(articles) }}
    </main>
{% endblock %}
