{% set pageTitle = pageTitle|default('') %}

<!DOCTYPE html>
<html lang="{% block meta_locale app.request.locale %}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block meta_title site.title %}</title>

        {% block meta %}
            <meta name="description" content="{% block meta_description site.description %}" />
            <link rel="canonical" href="{{ app.request.uri }}" />
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'layout/_header.html.twig' %}
        {% endblock %}

        <main class="container main">
            {% include 'layout/_breadcrumb.html.twig' %}
            {% block content %}{% endblock %}
        </main>

        {% block footer %}
            {% include 'layout/_footer.html.twig' %}
        {% endblock %}
    </body>
</html>
