<nav aria-label="{{ 'layout.breadcrumb.aria_label'|trans }}">
    <ol class="breadcrumb">
        {% for menuItem in breadcrumb() %}
            <li class="breadcrumb-item{% if menuItem.isActive %} active{% endif %}"{% if menuItem.isActive %} aria-current="page"{% endif %}>
                <a href="{{ path(menuItem.route, menuItem.routeParams) }}">
                    {{ menuItem.label is defined ? menuItem.label|trans : pageTitle|default('') }}
                </a>
            </li>
        {% endfor %}
    </ol>
</nav>
